<div id="footer">
  <footer class="footer bg-black cta text-white md:hidden flex flex-row p-[15px] sm:p-[30px]">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-[15px]">
      <div class="">
        © {{ 'now' | date: "%Y" }} Parcheh with ❤ from <a target="_blank" href="https://otherdev.com/" class="inline align-middle text-white no-underline hover:underline">Other Dev</a>
      </div>
      <div>
        <div class="font-bold pb-2">Store</div>
        <div class="pb-5 pt-2 flex flex-col gap-1 font-normal">
          <a href="/pages/about" title="">About</a>
        </div>
      </div>
      <div>
        <div class="font-bold pb-2">Social Media</div>
        <div class="pb-5 pt-2 flex flex-col gap-1 font-normal">
          <a href="https://www.instagram.com/parcheh_81" title="">Instagram</a>
        </div>
      </div>
      <div>
        <div class="font-bold pb-2">Customer Care</div>
        <div class="pb-5 pt-2 flex flex-col gap-1 font-normal">
          <a href="/pages/return" title="">Returns</a>
          <a href="/pages/privacy-policy" title="">Privacy Policy</a>
          <a href="/pages/terms-of-service" title="">Terms of Service</a>
        </div>
      </div>
    </div>
  </footer>
  
  <footer class="footer hidden bg-black cta text-white px-[30px] pb-[15px] pt-[150px] md:grid grid-cols-12 items-end gap-[15px]">
    <div class="col-span-2 -ml-[30px]">
      <div class="hidden w-full md:flex flex-col self-end gap-[15px]">
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
      </div>
    </div>
    <div class="flex gap-[15px] col-span-3 items-center">
      © {{ 'now' | date: "%Y" }} Parcheh with ❤ from <a target="_blank" href="https://otherdev.com/" class="inline align-middle text-white no-underline hover:underline">Other Dev</a>
    </div>
    <div class="flex gap-[15px] justify-end col-span-7 text-right">
      <div><a href="/pages/about" title="">About</a></div>
      <div><a href="https://www.instagram.com/parcheh_81" title="">Instagram</a></div>
      <div><a href="/pages/return" title="">Returns</a></div>
      <div><a href="/pages/privacy-policy" title="">Privacy Policy</a></div>
      <div><a href="/pages/terms-of-service" title="">Terms of Service</a></div>
    </div>
  </footer>
</div>

<style>
  .stripe {
    height: 15px;
    background-color: white;
  }
</style>

{% schema %}
{
  "name": "Footer"
}
{% endschema %}
